<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default"/>
<f:section name="main">

    <f:debug>{_all}</f:debug>

    <div class="tx_ffpirouter">
        <f:for each="{routers}" as="router">
            <div class="router">
                <f:link.action action="show" arguments="{router : router}"><h2>{router.name}</h2></f:link.action>
                <div class="image">
                    <img src="{f:uri.image(image: router.picture)}" width="300px">
                </div>
                <div class="details">
                    <dl>
                        <dt><f:translate key="tx_ffpirouter_domain_model_router.manufacturer"/></dt>
                        <dd>{router.manufacturer.name}</dd>

                        <dt><f:translate key="tx_ffpirouter_domain_model_router.price"/></dt>
                        <dd><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{router.price}</f:format.currency></dd>

                        <dt><f:translate key="tx_ffpirouter_domain_model_router.description"/></dt>
                        <dd><f:format:nl2br>{router.description}</f:format:nl2br></dd>
                    </dl>
                </div>
            </div>
        </f:for>
    </div>

</f:section>
<table class="tx_ffpirouter">
    <tr>
        <th>
            <f:translate key="tx_ffpirouter_domain_model_router.name"/>
        </th>
        <th>
            <f:translate key="tx_ffpirouter_domain_model_router.manufacturer"/>
        </th>
        <th>
            <f:translate key="tx_ffpirouter_domain_model_router.description"/>
        </th>
        <th>
            <f:translate key="tx_ffpirouter_domain_model_router.radio2"/>
        </th>
        <th>
            <f:translate key="tx_ffpirouter_domain_model_router.radio5"/>
        </th>
        <th>
            <f:translate key="tx_ffpirouter_domain_model_router.outdoor"/>
        </th>
        <th>
            <f:translate key="tx_ffpirouter_domain_model_router.internal_antenna"/>
        </th>
        <th>
            <f:translate key="tx_ffpirouter_domain_model_router.external_antenna"/>
        </th>
        <th>
            <f:translate key="tx_ffpirouter_domain_model_router.wan_ports"/>
        </th>
        <th>
            <f:translate key="tx_ffpirouter_domain_model_router.lan_ports"/>
        </th>
        <th>
            <f:translate key="tx_ffpirouter_domain_model_router.wan_speed"/>
        </th>
        <th>
            <f:translate key="tx_ffpirouter_domain_model_router.lan_speed"/>
        </th>
        <th>
            <f:translate key="tx_ffpirouter_domain_model_router.wlan_speed"/>
        </th>
        <th>
            <f:translate key="tx_ffpirouter_domain_model_router.memory"/>
        </th>
        <th>
            <f:translate key="tx_ffpirouter_domain_model_router.ram"/>
        </th>
        <th>
            <f:translate key="tx_ffpirouter_domain_model_router.cpu"/>
        </th>
        <th>
            <f:translate key="tx_ffpirouter_domain_model_router.price"/>
        </th>
        <th>
            <f:translate key="tx_ffpirouter_domain_model_router.price_link"/>
        </th>
        <th>
            <f:translate key="tx_ffpirouter_domain_model_router.picture"/>
        </th>
        <th></th>
        <th></th>
    </tr>

    <f:for each="{routers}" as="router">
        <tr>
            <td>
                <f:link.action action="show" arguments="{router : router}"> {router.name}</f:link.action>
            </td>
            <td>
                <f:link.action action="show" arguments="{router : router}"> {router.manufacturer}</f:link.action>
            </td>
            <td>
                <f:link.action action="show" arguments="{router : router}"> {router.description}</f:link.action>
            </td>
            <td>
                <f:link.action action="show" arguments="{router : router}"> {router.radio2}</f:link.action>
            </td>
            <td>
                <f:link.action action="show" arguments="{router : router}"> {router.radio5}</f:link.action>
            </td>
            <td>
                <f:link.action action="show" arguments="{router : router}"> {router.outdoor}</f:link.action>
            </td>
            <td>
                <f:link.action action="show" arguments="{router : router}"> {router.internalAntenna}</f:link.action>
            </td>
            <td>
                <f:link.action action="show" arguments="{router : router}"> {router.externalAntenna}</f:link.action>
            </td>
            <td>
                <f:link.action action="show" arguments="{router : router}"> {router.wanPorts}</f:link.action>
            </td>
            <td>
                <f:link.action action="show" arguments="{router : router}"> {router.lanPorts}</f:link.action>
            </td>
            <td>
                <f:link.action action="show" arguments="{router : router}"> {router.wanSpeed}</f:link.action>
            </td>
            <td>
                <f:link.action action="show" arguments="{router : router}"> {router.lanSpeed}</f:link.action>
            </td>
            <td>
                <f:link.action action="show" arguments="{router : router}"> {router.wlanSpeed}</f:link.action>
            </td>
            <td>
                <f:link.action action="show" arguments="{router : router}"> {router.memory}</f:link.action>
            </td>
            <td>
                <f:link.action action="show" arguments="{router : router}"> {router.ram}</f:link.action>
            </td>
            <td>
                <f:link.action action="show" arguments="{router : router}"> {router.cpu}</f:link.action>
            </td>
            <td>
                <f:link.action action="show" arguments="{router : router}"> {router.price}</f:link.action>
            </td>
            <td>
                <f:link.action action="show" arguments="{router : router}"> {router.priceLink}</f:link.action>
            </td>
            <td>
                <f:link.action action="show" arguments="{router : router}"> {router.picture.originalResource.name}</f:link.action>
            </td>
            <td>
                <f:link.action action="edit" arguments="{router : router}">Edit</f:link.action>
            </td>
            <td>
                <f:link.action action="delete" arguments="{router : router}">Delete</f:link.action>
            </td>
        </tr>
    </f:for>
</table>

<f:link.action action="new">New Router</f:link.action>
