
<table class="tx-ffpi-router" >
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_router.name" />
		</td>
		<td>
		{router.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_router.manufacturer" />
		</td>
		<td>
		{router.manufacturer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_router.description" />
		</td>
		<td>
		{router.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_router.radio2" />
		</td>
		<td>
		{router.radio2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_router.radio5" />
		</td>
		<td>
		{router.radio5}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_router.outdoor" />
		</td>
		<td>
		{router.outdoor}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_router.internal_antenna" />
		</td>
		<td>
		{router.internalAntenna}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_router.external_antenna" />
		</td>
		<td>
		{router.externalAntenna}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_router.wan_ports" />
		</td>
		<td>
		{router.wanPorts}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_router.lan_ports" />
		</td>
		<td>
		{router.lanPorts}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_router.wan_speed" />
		</td>
		<td>
		{router.wanSpeed}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_router.lan_speed" />
		</td>
		<td>
		{router.lanSpeed}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_router.wlan_speed" />
		</td>
		<td>
		{router.wlanSpeed}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_router.memory" />
		</td>
		<td>
		{router.memory}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_router.ram" />
		</td>
		<td>
		{router.ram}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_router.cpu" />
		</td>
		<td>
		{router.cpu}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_router.price" />
		</td>
		<td>
		{router.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_router.price_link" />
		</td>
		<td>
		{router.priceLink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_router.picture" />
		</td>
		<td>
				<f:image src="{router.picture.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>