<h1>{router.manufacturer.name} - {router.name}</h1>

<img src="{f:uri.image(image: router.picture)}">

<f:format:raw>{router.description}</f:format:raw>

Technische Details
<dl>
    <dt>
        <f:translate key="tx_ffpirouter_domain_model_router.manufacturer"/>
    </dt>
    <dd>{router.manufacturer}</dd>

    <dt>
        <f:translate key="tx_ffpirouter_domain_model_router.radio2"/>
    </dt>
    <dd>{router.radio2}</dd>

    <dt>
        <f:translate key="tx_ffpirouter_domain_model_router.radio5"/>
    </dt>
    <dd>{router.radio5}</dd>

    <dt>
        <f:translate key="tx_ffpirouter_domain_model_router.outdoor"/>
    </dt>
    <dd>{router.outdoor}</dd>

    <dt>
        <f:translate key="tx_ffpirouter_domain_model_router.internal_antenna"/>
    </dt>
    <dd>{router.internalAntenna}</dd>

    <dt>
        <f:translate key="tx_ffpirouter_domain_model_router.external_antenna"/>
    </dt>
    <dd>{router.externalAntenna}</dd>

    <dt>
        <f:translate key="tx_ffpirouter_domain_model_router.wan_ports"/>
    </dt>
    <dd>{router.wanPorts}</dd>

    <dt>
        <f:translate key="tx_ffpirouter_domain_model_router.wan_speed"/>
    </dt>
    <dd>{router.wanSpeed}</dd>

    <dt>
        <f:translate key="tx_ffpirouter_domain_model_router.lan_ports"/>
    </dt>
    <dd>{router.lanPorts}</dd>

    <dt>
        <f:translate key="tx_ffpirouter_domain_model_router.lan_speed"/>
    </dt>
    <dd>{router.lanSpeed}</dd>

    <dt>
        <f:translate key="tx_ffpirouter_domain_model_router.wlan_speed"/>
    </dt>
    <dd>{router.wlanSpeed}</dd>

    <dt>
        <f:translate key="tx_ffpirouter_domain_model_router.memory"/>
    </dt>
    <dd>{router.memory}</dd>

    <dt>
        <f:translate key="tx_ffpirouter_domain_model_router.ram"/>
    </dt>
    <dd>{router.ram}</dd>

    <dt>
        <f:translate key="tx_ffpirouter_domain_model_router.cpu"/>
    </dt>
    <dd>{router.cpu}</dd>

    <dt>
        <f:translate key="tx_ffpirouter_domain_model_router.price"/>
    </dt>
    <dd>
        <f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{router.price}</f:format.currency>
    </dd>
</dl>
