
<table class="tx-ffpi-router" >
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_routerversion.router" />
		</td>
		<td>
		{routerVersion.router}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_routerversion.version" />
		</td>
		<td>
		{routerVersion.version}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ffpirouter_domain_model_routerversion.picture" />
		</td>
		<td>
				<f:image src="{routerVersion.picture.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>